{% extends 'main/layout.html' %}

{% block title %} Главная {% endblock title %}

{% block content %}
	<div id="columns">


		 <figure>
			<img src="https://i.pinimg.com/474x/db/c9/a0/dbc9a039768b5dcbc674e3d6bf1da0a5.jpg">
			<figcaption>Pocahontas based on 17th century Powhatan costume</figcaption>
		</figure>

		<figure>
			<img src="https://i.pinimg.com/474x/90/fa/6e/90fa6e8631b63bc299c3742fffbeedff.jpg">
			<figcaption>Snow White, based on 16th century German fashion</figcaption>
		</figure>

		<figure>
			<img src="https://i.pinimg.com/564x/83/39/b8/8339b8bb4a73b315cabd77f71c7db887.jpg">
			<figcaption>Rapunzel, clothed in 1820’s period fashion</figcaption>
		</figure>

		<figure>
			<img src="https://i.pinimg.com/474x/d5/93/fe/d593feb60701c59f02da37dcb67494a1.jpg">
			<figcaption>Belle, based on 1770’s French court fashion</figcaption>
		</figure>

		<figure>
		   <img src="https://i.pinimg.com/474x/4a/52/e1/4a52e10a0bd9149ade229f2ec91c9f68.jpg">
		   <figcaption>Sleeping Beauty, based on European fashions in 1485</figcaption>
		</figure>


		<figure>
			<img src="https://i.pinimg.com/564x/17/2a/b0/172ab0dfab9a2f65eafc09a50c666952.jpg">
			<figcaption>Mulan, based on the Ming Dynasty period</figcaption>
		</figure>


		<figure>
			<img src="https://i.pinimg.com/564x/83/39/b8/8339b8bb4a73b315cabd77f71c7db887.jpg">
			<figcaption>Ariel wearing an evening gown of the 1890’s</figcaption>
		</figure>


		<figure>
			<img src="https://i.pinimg.com/474x/ea/3c/42/ea3c429123acd114cc7aa2cd851961bc.jpg">
			<figcaption>Tiana wearing the <i>robe de style</i> of the 1920’s</figcaption>
		</figure>



		<figure>
			<img src="https://i.pinimg.com/564x/86/7b/45/867b4556f812940e351bbb600e55ba06.jpg">
			<figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
		</figure>

		<small>Art &copy; <a href="//clairehummel.com">Claire Hummel</a></small>
	</div>

	{{ board }}
{% endblock content %}